.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.list li:last-child {
    cursor: pointer;
}
.nav a {
    color: #505457;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}
ul a:hover,.login_link:hover {
    color: #439ACA
}

.login_link {
    letter-spacing: -0.54px;
}
.tel_link:hover {
    color: #728D9B;
}

